/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --color: #353430;
  --accent-color: #353430;
  --alternate-color: #353430;
  --header-title-color: #FFC2E6;
  --accent-bg-color: #FFF1F7;
  --alternate-bg-color: #FF8DCB;
  --font-size: 18px;
  --font-weight: 400;
  --accent-font-weight: 700;
  --font-family: 'IBM Plex mono';
  --accent-line-height: 82.5%;
  --line-height: 130%;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
}

.theme_light.header__theme-menu-list {
  color: var(--color, #353430);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #353430;
    --accent-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.40);
    --alternate-color: #353430;
    --header-title-color: #FFC2E6;
    --accent-bg-color: #FFF1F7;
    --alternate-bg-color: #FF8DCB;
    --font-size: 18px;
    --font-weight: 400;
    --accent-font-weight: 700;
    --font-family: 'IBM Plex mono';
    --accent-line-height: 82.5%;
    --line-height: 130%;
  }
}
