/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--color);
  font-size: var(--font-size, 18px);
  font-family: var(--font-family, monospace);
  font-weight: var(--font-weight, 400);
  line-height: var(--line-height, 130%);
  background-color: var(--accent-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  cursor: default;
}

.font {
  font-size: var(--font-size, 18px);
  font-weight: var(--accent-font-weight, 700);
}

.header {
  display: grid;
  position: relative;
  min-height: 668px;
  height: 100vh;
}

.header__theme-menu {
  display: grid;
}

.decorated-zone::before {
  content: "";
  display: block;
  justify-self: end;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.decorated-element {
  display: grid;
  position: absolute;
  align-items: center;
  gap: 10px;
  grid-template-columns: 1fr 9px;
  justify-self: end;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-inline-end: 9px;
}

.decorated-element::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--alternate-bg-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header__theme-menu-list {
  color: var(--color);
  display: grid;
  gap: 10px;
  justify-content: end;
  appearance: none;
}


.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_active:disabled {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button {
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: inherit;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color);
}

.header__title {
  color: var(--header-title-color);
  font-size: var(--accent-font-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: var(--accent-line-height, 82.5%);
}

.title-decor {
  color: var(--alternate-color);
  background-color: var(--alternate-bg-color);
}

.header__description-text {
  font-weight: var(--accent-font-weight, 700);
}

.section {
  display: grid;
  gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.section__title {
  color: var(--accent-color);
}

.section-column {
  display: grid;
  gap: 20px;
}

.about-column {
  display: grid;
  gap: 20px;
}

.about__text {
  margin-block-start: 10px;
}

.ref__info {
  text-decoration: none;
  text-shadow: 2px 2px var(--alternate-bg-color);
}

.ref__info:hover {
  border-block-end: 1px solid var(--accent-color)
}

.ref__info:focus {
  outline: none;
}

.ref__info:focus-visible {
  border: none;
  outline: 1px solid var(--color);
}

.about__title-description {
  font-weight: var(--font-weight, 400);
  font-size: var(--font-size, 18px);
}

.image__item {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-width: 100%;
}

.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
}

.footer__title {
  display: grid;
  justify-content: center;
  color: var(--header-title-color);
  font-size: var(--alternate-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: var(--accent-line-height, 82.5%);
}

@media (375px <= width < 768px) {
  .header {
    padding: 10px;
    grid-template-rows: auto auto 1fr auto auto;
  }

  .decorated-element {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    margin-block-start: 31px;
  }

  .header__theme-menu:first-of-type {
    margin-block-start: 41.5px;
  }

  .header__title {
    display: grid;
    font-size: var(--accent-font-size);
    align-items: center;
  }

  .main {
    display: grid;
    gap: 50px;
  }

  .section-column:first-of-type {
    margin-block-start: 40px;
  }

  .section-accent {
    margin-block-start: 40px
  }

  .section__gallery {
    display: grid;
    gap: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin-block-end: 40px;
  }

  .image__container {
    display: grid;
    gap: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    font-size: var(--accent-font-size);
  }

  .footer::before {
    margin-block-end: 250px;
  }

  .footer::after {
    margin-block-start: 250px;
  }
}

@media (768px <= width < 1024px) {
  .header {
    grid-template-rows: auto auto 1fr auto auto;
  }

  .decorated-zone::after {
    margin-block-start: 138px;
  }

  .header__theme-menu::after {
    margin-block-start: 138px;
  }

  .header__theme-menu:first-of-type {
    margin-block-start: 148.5px;
  }

  .header__title {
    display: grid;
    align-items: center;
  }

  .accent-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer::before {
    margin-block-end: 417px;
  }

  .footer::after {
    margin-block-start: 418px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-rows: 1fr 1fr auto auto;
  }

  .decorated-zone::before {
    grid-column: 1;
    grid-row: 1;
  }

  .header__theme-menu {
    display: grid;
    justify-content: center;
    grid-column: 1;
    grid-row: 1;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    justify-content: center;
  }

  .header__title {
    display: grid;
    align-items: center;
    grid-template-rows: auto auto auto;
  }

  .header__theme-menu:first-of-type {
    margin-block-start: 0;
  }

  .decorated-zone::after {
    margin-block-start: 89px;
  }

  .section-row {
    display: grid;
    justify-items: end;
    grid-template-rows: 47px 1fr;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  }

  .about-accent {
    grid-row-start: 2;
  }

  .footer::before {
    margin-block-end: 274px;
  }

  .footer::after {
    margin-block-start: 274px;
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    padding: 20px;
  }

  .decorated-element {
    top: 20px;
    right: 20px;
  }

  .header__title {
    font-size: var(--alternate-font-size);
  }

  .header__description-text {
    width: 50%;
    display: grid;
    justify-self: end;
  }

  .section {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  .section-column:first-of-type {
    margin-block-start: 60px;
  }

  .section-column {
    display: grid;
    grid-template-columns: 32% 2fr;
  }

  .section__gallery {
    display: grid;
    gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-block-end: 60px;
  }

  .image__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
  }

  .image__item:nth-child(1) {
    grid-area: a;

  }

  .image__item:nth-child(2) {
    grid-area: b;
  }

  .image__item:nth-child(3) {
    grid-area: c;
  }

  .image__item:nth-child(4) {
    grid-area: d;
  }

  .image__item:nth-child(5) {
    grid-area: e;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: var(--alternate-font-size);
  }
}