/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color: #F1B2CE;
  --accent-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --alternate-color: #000028;
  --header-title-color: #DB00FF;
  --accent-bg-color: #000028;
  --alternate-bg-color: #FF0070;
  --font-size: 18px;
  --font-weight: 400;
  --accent-font-weight: 700;
  --font-family: 'IBM Plex mono';
  --accent-line-height: 82.5%;
  --line-height: 130%;
}