/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color: #F1B2CE;
  --accent-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --alternate-color: #000028;
  --header-title-color: #DB00FF;
  --accent-bg-color: #000028;
  --alternate-bg-color: #FF0070;
  --accent-header-text-shadow: #FF0070;
  --font-size: 18px;
  --accent-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --alternate-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-weight: 400;
  --accent-font-weight: 700;
  --font-family: 'IBM Plex mono';
  --accent-line-height: 82.5%;
  --line-height: 130%;
}